@{ 
    <!-- TODO - Move this to a config -->
	var links = new 
    {
        Twitter = "https://twitter.com/Silvenga",
        LinkedIn = "https://www.linkedin.com/in/silvenga",
        GitHub = "https://github.com/Silvenga"
    };
}

@{
    <!--TODO - Move to nav-->
    var navLinks = new []
    {
        new {
            Link = @Context.GetLink("/") + "/",
            Label = "Browse Posts"
        },
        new {
            Link = @Context.GetLink("projects") + "/",
            Label = "My Projects"
        },
        new {
            Link = @Context.GetLink("about") + "/",
            Label = "About Me"
        }
    };
}


<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-text lefted">
            @foreach(var link in navLinks)
            {
                <a class="h3" href="@link.Link">
                    @link.Label
                </a>
            }
        </div>
        <div class="nav-icons righted">
            <a href="@links.Twitter">
                <img alt="Twitter" class="twit-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            <a href="@links.LinkedIn">
                <img alt="Linkedin" class="link-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
            <a href="@links.GitHub">
                <img alt="Github" class="github-logo img" src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%2F%3E" />
            </a>
        </div>
    </div>
</nav>