@{ 
    <!-- TODO - Move this to a config -->
	var links = new 
    {
        Twitter = "https://twitter.com/Silvenga",
        LinkedIn = "https://www.linkedin.com/in/silvenga",
        GitHub = "https://github.com/Silvenga"
    };
}

@{
    <!--TODO - Move to nav-->
    var navLinks = new []
    {
        new {
            Link = @Context.GetLink("/") + "/",
            Label = "Browse Posts"
        },
        new {
            Link = @Context.GetLink("projects") + "/",
            Label = "My Projects"
        },
        new {
            Link = @Context.GetLink("about") + "/",
            Label = "About Me"
        }
    };
}


<nav class="nav-bar">
    <div class="nav-container">
        <div class="nav-text lefted">
            @foreach(var link in navLinks)
            {
                <a class="h3" href="@link.Link">
                    @link.Label
                </a>
            }
        </div>
        <div class="nav-icons righted">
            <a href="@links.Twitter">
                <div class="icon-container">
                    <div class="icon-twitter"></div>
                </div>
            </a>
            <a href="@links.LinkedIn">
                <div class="icon-container">
                    <div class="icon-linkedin"></div>
                </div>
            </a>
            <a href="@links.GitHub">
                <div class="icon-container">
                    <div class="icon-github"></div>
                </div>
            </a>
        </div>
    </div>
</nav>