@{ Layout = "/theme/_Layout.cshtml"; } 
@{ var publishDate = Model.DateTime(DocumentKeys.Published); }
@{ var changes = Model.Get<int>("Changes"); } 
@{ var lastSha = Model.String("LastSha"); }
@{ var lastChange = Model.Get<DateTimeOffset>("LastChange"); }
@{ var commitLink = Model.String("LastCommitLink"); }

<script type="application/ld+json">
{
  "@@context" : "http://schema.org",
  "@@type" : "Article",
  "headline" : "@Model.String("Title")",
  "datePublished" : "@publishDate.ToString("o")",
  "dateModified": "@lastChange.ToString("o")",
  "author": {
      "name": "Mark Lopez"
  },
  "description": "@Model.String("Description")"
}
</script>

<article class="s-content pt-4 m-4 flex-column align-items-stretch">

    <div class="flex-column d-flex justify-content-center align-items-center">
        <div class="s-title">
            <h1 class="display-4 text-center">@Model.String(MetaKeys.Title)</h1>
            <div class="text-center">
                Created on <time datetime='@publishDate.ToString("o")'>@publishDate.ToString("MMMM dd, yyyy")</time>.                
            </div>
            <div class="text-center">
                Last commit <a class="text-uppercase" href="@commitLink">@lastSha</a> on <time datetime='@lastChange.ToString("o")'>@lastChange.ToString("MMMM dd, yyyy")</time> - @changes total changes.
            </div>
            <hr>
        </div>
    </div>

    <div class="justify-content-center mt-2">
        <main class="s-article d-flex flex-column align-items-center" role="main">
            @RenderBody()
        </main>
    </div>

</article>