@{
    Layout = "/theme/_Layout.cshtml";
}

<article class="article">
    <div class="main-container">
        <div class="article-header">
            @{
                var changes = Model.Get<int>("Changes");
                var editText = changes == 1 ? "edit" : "edits";
            }
            <h1 class="article-title">
                @Model.String(MetaKeys.Title)
            </h1>
            <span class="article-git left">
                Commit @(Model.Get<string>("FirstSha").ToUpper()) from @(Model.Get<DateTimeOffset>("LastChange").ToString("MM-dd-yyyy")) - @(Model.Get<int>("Changes")) @editText total
            </span>
        </div>
        <div class="article-container">
            <div class="article-content flow">
                @RenderBody()
            </div>
        </div>
    </div>
</article>