@{ Layout = "/theme/_Layout.cshtml"; } 
@{ var changes = Model.Get<int>("Changes"); } 
@{ var lastSha = Model.String("LastSha"); }
@{ var lastChange = Model.Get<DateTimeOffset>("LastChange").ToString("MMMM dd, yyyy"); }
@{ var commitLink = Model.String("LastCommitLink"); }

<article class="s-content pt-4 m-4 flex-column align-items-stretch">

    <div class="flex-column d-flex justify-content-center align-items-center">
        <div class="s-title">
            <h2 class="display-4 text-center">@Model.String(MetaKeys.Title)</h2>
            <div class="text-center">
                Created on <date>@Model.DateTime(DocumentKeys.Published).ToString("MMMM dd, yyyy")</date>.
                
            </div>
            <div class="text-center">
                Last commit <a class="text-uppercase" href="@commitLink">@lastSha</a> on <date>@lastChange</date> - @changes total changes.
            </div>
            <hr>
        </div>
    </div>

    <div class="justify-content-center mt-2">
        <div class="s-article d-flex flex-column align-items-center">
            @RenderBody()
        </div>
    </div>

</article>