@{
    Layout = "/theme/_Layout.cshtml";
}

<div class="s-index d-flex flex-column align-items-center">
@foreach(var doc in Documents[PipelineKeys.RenderPosts])
{
    <section class="px-4">
        <a href="@Context.GetLink(doc)/">
            <h3>@doc.String(MetaKeys.Title)</h3>
        </a>
        <hr>
        <div>
            Created on <date>@(doc.DateTime(DocumentKeys.Published).ToString("MMM d, yyyy"))</date>, 
            last commit <a href='@doc.String("LastCommitLink")' class="text-uppercase">@doc.String("LastSha")</a> on <date>@(doc.Get<DateTimeOffset>("LastChange").ToString("MMM d, yyyy"))</date>.
        </div>

    </section>
}
</div>