Title: Silvenga's Blog
Description: Yet another weblog for the masses.
---
@{ Layout = "/theme/_Layout.cshtml"; }

<div class="s-index d-flex flex-column align-items-center">
@foreach(var doc in Documents[PipelineKeys.RenderPosts])
{
    var publishDate = doc.DateTime(DocumentKeys.Published);
    var lastChange = doc.Get<DateTimeOffset>("LastChange");
    <section class="px-4">
        <div class="entry-title">
            <a href="@Context.GetLink(doc)/">
                @doc.String(MetaKeys.Title)
            </a>
        </div>
        <div class="entry-description">@doc.String("Description")</div> 
        <hr>
        <div class="text-muted ">
            Created on <time datetime='@publishDate.ToString("o")'>@publishDate.ToString("MMM d, yyyy")</time>, 
            last commit <a href='@doc.String("LastCommitLink")' class="text-uppercase">@doc.String("LastSha")</a> on <time datetime='@lastChange.ToString("o")'>@lastChange.ToString("MMM d, yyyy")</time>.
        </div>

    </section>
}
</div>